
*{
    margin: 0; /*separacion entre elementos "0" */
    padding: 0; /* espacio util dentro del contenedor*/
    box-sizing: border-box;
    
}  

 body{
    font-family: 'Arial', sans-serif;
}


header{
    background-color: rgb(138, 138, 80);
    color: red;
    text-align: center;
    width: 100%;
    height: 100%;
} 